<mat-toolbar>
  <span>Dynamic table example</span>
</mat-toolbar>

<br />

<div>
  <span>Example: </span>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle
      [checked]="example === 'static'"
      value="static"
      (change)="example = 'static'"
      >Static</mat-button-toggle
    >
    <mat-button-toggle
      [checked]="example === 'users'"
      value="users"
      (change)="example = 'users'"
      >Async users</mat-button-toggle
    >
    <mat-button-toggle
      [checked]="example === 'products'"
      value="users"
      (change)="example = 'products'"
      >Async products</mat-button-toggle
    >
  </mat-button-toggle-group>
</div>

<br />

<container-element [ngSwitch]="example">
  <div *ngSwitchCase="'static'">
    <jd-dynamic-table
      [data]="staticData"
      [transform]="transformStatic"
      [maxPropArrayView]="10"
    ></jd-dynamic-table>
  </div>
  <div *ngSwitchCase="'users'">
    <jd-dynamic-table
      [data]="getUsers()"
      [ignoredProps]="['hair', 'userAgent', 'ein', 'ssn']"
      [transform]="transformImage('image')"
      [itemsPerPage]="[2, 4, 8]"
    ></jd-dynamic-table>
  </div>
  <div *ngSwitchCase="'products'">
    <jd-dynamic-table
      [data]="getProducts()"
      [transform]="transformImage('thumbnail', transformProductImages)"
      [caseSensitive]="false"
    ></jd-dynamic-table>
  </div>
  <div *ngSwitchCase="'products'">...</div>
</container-element>
