.search {
  display: flex;
  padding: 5px;
  align-items: center;

  input {
    border: none;
    width: 100%;
    line-height: 40px;
    outline: none;
    font-size: 14px;
  }
}

table {
  width: 100%;

  border-top: solid 1px #e0e0e0;
}

.d-none {
  display: none !important;
}

.no-data {
  padding: 4rem;
  text-align: center;
}

.custom-shadow {
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
    0px 8px 10px 1px rgb(0 0 0 / 14%);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 50px;
}

.loading {
  padding: 50px 50px 130px 50px;
}
