<div
  [class.d-none]="
    !this.dataSource.dataStream$.getValue().length || !searchEnabled
  "
  class="search"
>
  <mat-icon>filter_alt</mat-icon>
  <input
    #search
    (input)="onSearchTerm(search.value)"
    [attr.data-lr]="labels.searchPlaceHolder"
    [placeholder]="labels.searchPlaceHolder"
  />
  <button
    type="button"
    mat-button
    tabindex="-1"
    *ngIf="search.value"
    matSuffix
    mat-icon-button
    aria-label="Clear search field"
    (click)="search.value = ''; onSearchTerm('')"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

<div style="overflow-y: auto">
  <table
    mat-table
    [dataSource]="dataSource"
    class="custom-shadow"
    matSort
    [style.box-shadow]="
      !loading && !dataSource.noFilteredEntities$.getValue()
        ? 'none'
        : undefined
    "
  >
    <ng-container
      *ngFor="let disCol of columns; let colIndex = index"
      [matColumnDef]="disCol"
    >
      <th class="ps-2 pe-2" mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ (disCol | startlize) || "" | titlecase }}
      </th>

      <td class="ps-2 pe-2" mat-cell *matCellDef="let element">
        <ng-container *ngIf="isArray(element[disCol])">
          <ng-container
            *ngIf="isNativeArray(element[disCol]); else objectArray"
          >
            <ul>
              <li *ngFor="let item of element[disCol]">{{ item }}</li>
            </ul>
          </ng-container>

          <ng-template #objectArray>
            <ng-container
              *ngIf="
                displayAsItemsTable(element[disCol]);
                else arrayAsKeyValPairTable
              "
            >
              <jd-dynamic-table
                [searchEnabled]="searchEnabled && true"
                class="custom-tb"
                [data]="element[disCol]"
                [outerSearchItem]="enableOuterSearch ? searchTerms : undefined"
                [caseSensitive]="caseSensitive"
                [itemsPerPage]="itemsPerPage"
              >
              </jd-dynamic-table>
            </ng-container>

            <ng-template #arrayAsKeyValPairTable>
              <ng-container *ngFor="let item of element[disCol]; let i = index">
                <jd-dynamic-table
                  [searchEnabled]="searchEnabled && true"
                  class="custom-tb"
                  [data]="internalToPropObjectTableDef(item, 'Property Name')"
                  [caseSensitive]="caseSensitive"
                  [itemsPerPage]="itemsPerPage"
                  [outerSearchItem]="
                    enableOuterSearch ? searchTerms : undefined
                  "
                >
                </jd-dynamic-table>
              </ng-container>
            </ng-template>
          </ng-template>
        </ng-container>

        <jd-dynamic-table
          *ngIf="!isDate(element[disCol]) && isObject(element[disCol])"
          [searchEnabled]="searchEnabled && true"
          class="custom-tb"
          [data]="
            internalToPropObjectTableDef(element[disCol], 'Property Name')
          "
          [outerSearchItem]="enableOuterSearch ? searchTerms : undefined"
        >
        </jd-dynamic-table>

        <span
          *ngIf="isDate(element[disCol])"
          [innerHTML]="
            element[disCol]
              | date: 'YYYY-MM-dd HH:mm:ss'
              | highlightText: search.value
          "
        ></span>

        <span
          *ngIf="!isArray(element[disCol]) && !isObject(element[disCol])"
          [innerHTML]="element[disCol] | highlightText: search.value"
        ></span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
</div>

<div
  *ngIf="!loading && !dataSource.noFilteredEntities$.getValue()"
  class="no-data custom-shadow p-4 mt-2 text-center"
>
  <p [attr.data-lr]="labels.emptyFilterMsg">
    {{ labels.emptyFilterMsg! }} "{{ search.value }}""
  </p>
  <button
    class="mt-2"
    mat-button
    color="primary"
    (click)="search.value = ''; onSearchTerm(search.value)"
  >
    <mat-icon>search</mat-icon>
    <span class="ms-2">Clear search</span>
  </button>
</div>

<mat-paginator
  [class.d-none]="
    this.dataSource.dataStream$.getValue().length < getMinItemsPerPage() ||
    !dataSource.noFilteredEntities$.getValue()
  "
  class="mat-elevation-z3"
  [pageSizeOptions]="itemsPerPage"
  showFirstLastButtons
>
</mat-paginator>

<div
  *ngIf="!loading && !(dataSource.noEntities$ | async)"
  class="custom-shadow box"
>
  <p>{{ labels.emptyDataMsg }}</p>
</div>

<div class="loading custom-shadow box" *ngIf="loading">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate"
    diameter="50"
    style="margin-right: 10px"
  >
  </mat-progress-spinner>
  Loading...
</div>
