/* You can add global styles to this file, and also import other style files */

@use "sass:math";
@use "@angular/material" as mat;

// Material
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.highlighted {
  font-weight: 600;
  color: red;
}

.true {
  color: white;
  background-color: green;
  padding: 3px 6px;
  border-radius: 5px;
}
.false {
  color: white;
  background-color: red;
  padding: 3px 6px;
  border-radius: 5px;
}

.d-flex {
  display: flex;
}

.w-50px {
  width: 50px;
}
.w-100px {
  width: 100px;
}
